/*
283d59		40 61 89
1c2c40		28 44 64
f2dec4		242 222 196
bfae99		191 174 153
8c7672		140 118 114
*/
/*
		RESET
*/
* {
  padding: 0px;
  margin: 0px;
  border-spacing: 0px;
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%;
  min-height: 100%; }

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0; }

button::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0; }

/*
		HEADER & FOOTER
*/
#header {
  z-index: 100;
  transition: box-shadow 500ms; }

#header.shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

#footer {
  position: relative;
  background-color: rgba(255, 255, 255, 0.05);
  overflow: hidden; }

.footer_main {
  position: relative;
  z-index: 3;
  line-height: 60px; }

#footer_year {
  position: absolute;
  z-index: 2;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 5em;
  opacity: 0.2; }

#footer .jumbotron {
  padding: 0;
  margin: 0; }

#footer .fa {
  vertical-align: middle;
  opacity: 0.5;
  transition: opacity 400ms; }

#footer .fa:hover {
  opacity: 1; }

/*
		STUFF
*/
.clearfix {
  clear: both; }

.comment {
  margin-top: 100px; }

.comment > *:not(:last-child) {
  margin-bottom: 15px; }

.comment + .comment {
  margin-top: 20px; }

.textarea {
  min-height: 260px; }

.mce-menubar {
  display: none !important; }

.carousel .img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 160px; }

.text-left {
  text-align: left;
  left: 0;
  right: 0; }

div.link {
  cursor: pointer; }

section {
  width: 100%;
  min-height: 100%; }

#content {
  padding-bottom: 60px; }

table.table-posts th {
  font-size: 1.2em; }

table.table-posts tr > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

table.table-posts tr > *:last-child {
  width: 146px;
  text-align: right; }

table.table-posts tr > *:nth-last-child(2) {
  width: 80px;
  text-align: right; }

table.table-posts tr > *:nth-last-child(3) {
  width: 70px;
  text-align: right; }

.table2,
.table-profile {
  display: table;
  width: 100%; }

.table2 > div,
.table-profile > div,
.table3 > div {
  display: table-cell;
  vertical-align: middle; }

.table2 > div:first-child,
.table-profile > div:first-child,
.table3 > div:first-child {
  text-align: left; }

.table2 > div:last-child,
.table-profile > div:last-child,
.table3 > div:last-child {
  white-space: nowrap; }

.table2 > div:nth-of-type(2):not(:last-child) {
  text-align: right;
  width: 80px;
  padding-left: 10px; }

.table2 > div:last-child {
  text-align: right;
  width: 130px;
  padding-left: 10px; }

.table-profile > div:first-child {
  width: 100px; }

.table-profile > div:last-child {
  width: 140px;
  text-align: right; }

.table3 {
  display: table;
  border-spacing: 0 5px; }
  .table3 tr:not(:first-child) td {
    padding-top: 5px; }
  .table3 div:first-child {
    min-width: 100px; }
  .table3 td:not(:first-child) {
    padding-left: 10px; }

.alpha {
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%; }

.error {
  padding: 20px 0; }

.paginator {
  text-align: center; }

.fs-input-group {
  display: table;
  width: 100%; }
  .fs-input-group > div:first-child {
    width: 100%; }
  .fs-input-group > div {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap; }
    .fs-input-group > div > * {
      float: left; }
    .fs-input-group > div > *:first-child:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    .fs-input-group > div > *:last-child:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
    .fs-input-group > div > *:not(:first-child):not(:last-child) {
      border-radius: 0; }
  .fs-input-group > div + div {
    padding-left: 10px; }

/*
		BOOTSTRAP RESETS
*/
p, h1, h2, h3, h4 {
  margin: 0; }

a {
  cursor: pointer;
  text-decoration: none; }

ul, li {
  list-style: none; }

ul {
  margin: 0; }

li:last-child .list-group {
  margin: 0; }

.alert-danger {
  background-color: #cd4237;
  border-color: #cd4237; }

textarea {
  resize: none; }

textarea.text-hidden {
  display: none;
  background-color: transparent;
  border: 0;
  width: 100%; }

/*
		NAV
*/
/*
	Bootstrap extra
*/
.form-control-simple {
  padding: 0;
  border: 0;
  height: auto;
  box-shadow: none;
  background-color: transparent; }

.form-control-simple:active,
.form-control-simple:focus {
  outline: 0;
  box-shadow: none; }

@media screen and (max-width: 500px) {
  .table-posts .date {
    display: none; } }

@media screen and (max-width: 768px) {
  .table-posts .reply,
  .table-posts .author {
    display: none; } }
